html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    height: 98px;
    width: 350px;
    background-color: rgba(202, 95, 95, 0.8);
    border-style: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 5px 5px 15px black;
    border-radius: 28px;
    cursor: pointer;
    transition: transform 0.25s ease-in-out;
}

button:hover {
    transform: scale(1.25);
    background-color: rgba(202, 95, 95, 1);
}

button:active {
    transform: scale(1.15);
    background-color: rgba(202, 95, 95, 0.95);
}


section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

p {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px
}